.popup {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.58);
    width: 100%;
    height: 100%;
    display: none;
}


.popup-content {
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 100px;
    border-radius: 3px;
    background: #fff;
    position: relative;
  }


.closeBtn {
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 17px;
    color: #7c7575;
    text-decoration: none;
  }
.fixed{
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
}
.bg_img{
    width:95vw;
    height:95vh;   
}

.nav-head{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 20px;
}
.carousel slide{
    position: relative;
}
.content_display{
    position: absolute;
    top: 30%;
    text-align: center;
    width: 70%;
    left: 15%;
    font-weight: bolder;
    color:rgb(82, 231, 254);
}
.Button{
    background-color: red;
    color: white;
    position: absolute;
    top: 70%;
    left: 45%;
    border: none;
    width: 150px;
    height: 55px;
    font-size: 20px;
}
.content-about-info{  
    margin-top:60px; 

}
.about-info-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:40px;
    position: relative;
}
.about-info-head:after{

    position:absolute;
    content: "";
    height: 1px;
    width:25%;
    background-color: orangered;
    margin-top:50px;
    margin-left:-400px;
    text-align: center;

}
.text-left{
    display: flex;
    margin-top:80px;
    top:90%;
}
.img-container{
    width:49vw;
    height:60vh;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
.second-button{

    background-color: orangered;
    color: WHITE;
    margin-top:30px;
    border: none;
    width: 150px;
    height: 60px;
    font-size: 20px;
}
.screenshot-head{
    position:relative;
    margin-top:50px;
    margin-right:25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:40px;
}
.screenshot-head:after{

    position:absolute;
    content: "";
    height: 1px;
    width:15%;
    background-color: orangered;
    margin-top:50px;
    margin-left:-220px;
    text-align: center;

}


.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
